In [1]:
# !pip install pyspark

Requirement already satisfied: pyspark in /Users/harshav05/opt/anaconda3/lib/python3.9/site-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /Users/harshav05/opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.3)

In [2]:
import pyspark
import pandas as pd

In [5]:
df1 = pd.read_csv("reliance-data.csv", index_col = 0)
df1.head()

         Date       Open     High        Low      Close  Volume
0  2022-06-02  2645.0000  2732.00  2635.6499  2724.5000  299786
1  2022-06-01  2632.3501  2654.95  2616.1001  2632.2000  147783
2  2022-05-31  2646.0000  2678.75  2615.8501  2633.8999  590084
3  2022-05-30  2619.8000  2673.00  2594.8501  2663.7500  263592
4  2022-05-27  2596.9500  2605.55  2539.3501  2575.2000  199303

In [6]:
# Starting Spark Session

from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('practice').getOrCreate()

22/06/04 11:08:28 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('reliance-data.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string]